<%- include('../partials/header')  %> 
    <div class="container">
        <div class="jumbotron">
            <h1>Site</h1>
            <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a></p>
        </div>
    </div>
<%- include('../partials/footer')  %> 