<%- include('../partials/header')  %>
    <div class="container">
        <div class="jumbotron">
            <h1>Private</h1>
            <p>If you have reached this page then it means you have successfully set the cookie</p>
            <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Dashboard</a></p>
        </div>
    </div>
<%- include('../partials/footer')  %>