<%- include('../partials/header')  %> 
    <section id="appointment">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" role="form" method="post" action="/signup">
                            <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h2>Welcome to Site~Sign Up</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <div class="col-md-6 col-sm-6">
                                <label for="first name">First Name*</label>
                                <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="last name">Last Name*</label>
                                <input type="text" class="form-control"  name="lname" placeholder="Last Name" required>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="password">Password*</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" required>

                                <button type="submit" class="form-control" id="cf-submit">Submit Button</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<%- include('../partials/footer')  %> 